<table summary="Listing of public ARIN mailing lists with descriptions and links to subscription options and archives.">
    <caption>
        ARIN Mailing Lists
    </caption>
    <tr>
        <th width="25%" scope="col">Mailing List</th>
        <th scope="col">Description</th>
        <th width="20%" scope="col">Options</th>
    </tr>
    <tr class="r0">
        <th width="25%" scope="row"><a name="discuss" id="discuss"></a>ARIN Discuss</th>
        <td><strong>arin-discuss@arin.net</strong>
            <p>Open to ARIN members, employees of ARIN member organizations, ARIN Board of
                Trustees, and ARIN Advisory Council members. RIR Staff members may observe, but
                not participate, in discussions.</p>
            <p>Provides a forum for the member community to discuss ARIN-specific issues such
                as fee structures and internal policies.</p></td>
        <td width="20%"><ul>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-discuss">Subscribe</a></li>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-discuss">Unsubscribe</a></li>
            <li><a href="http://lists.arin.net/pipermail/arin-discuss/">View Archive</a></li>
        </ul></td>
    </tr>
    <tr class="r1">
        <a name="announce" id="announce"></a><th width="25%" scope="row">ARIN Announce</th>
        <td><strong>arin-announce@arin.net</strong>
            <p>Read-only list open to the general public. Used by ARIN staff to provide timely information on important issues affecting ARIN members and the Internet community. The issues include ARIN elections, meetings, policy updates, training opportunities, and other ARIN events. We encourage anyone with an interest in Internet operations in the ARIN region to subscribe.</p></td>
        <td width="20%"><ul>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-announce">Subscribe</a></li>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-announce">Unsubscribe</a></li>
            <li><a href="http://lists.arin.net/pipermail/arin-announce/">View Archive</a></li>
        </ul></td>
    </tr>
    <tr class="r0">
        <th width="25%" scope="row"><a name="ppml" id="ppml"></a>Public Policy<br />
            Mailing List</th>
        <td><strong>arin-ppml@arin.net</strong>
            <p>Open to the general public. Provides a forum to raise and discuss policy-related ideas and issues surrounding existing and proposed ARIN policies. The PPML list is an intrinsic part of <a href="/policy/pdp.html">ARIN's Policy Development Process</a>, which details how proposed policies are handled.</p>
            <p>Discussion on PPML can cover a variety of policy related topics, and   ARIN encourages free discussion. ARIN announcements to the PPML about   policy proposals or draft policies include the proposal number or draft   policy number in the subject field. Please retain the policy number in   the subject line when you make comments about specific <a href="/policy/proposals/">proposals or   draft policies</a>. Your post or reply should open with a statement of   support or nonsupport for the topic to allow others to follow   discussions of interest more easily and make your position clear.</p></td>
        <td width="20%"><ul>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-ppml">Subscribe</a></li>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-ppml">Unsubscribe</a></li>
            <li><a href="http://lists.arin.net/pipermail/arin-ppml/">View Archive</a></li>
        </ul></td>
    </tr>
    <tr class="r1">
        <th width="25%" scope="row"><a name="issued" id="issued"></a>ARIN Issued</th>
        <td><strong>arin-issued@arin.net</strong>
            <p>Read-only list open to the general public. It is a daily report of IPv4, IPv6, and Autonomous System Number (ASN) resources issued directly by ARIN, and resources returned to ARIN's free pool.</p></td>
        <td width="20%"><ul>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-issued">Subscribe</a></li>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-issued">Unsubscribe</a></li>
            <li><a href="http://lists.arin.net/pipermail/arin-issued/">View Archive</a></li>
        </ul></td>
    </tr>
    <tr class="r0">
        <th width="25%" scope="row"><a name="tech" id="tech"></a>Technical Discussions</th>
        <td><strong>arin-tech-discuss@arin.net</strong>
            <p>Open to the general public. Provided for those interested in providing technical feedback to ARIN on experiences in the use or evaluation of current ARIN <a href="/resources/services/">services</a> and <a href="/features/">features in development</a>.</p></td>
        <td width="20%"><ul>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-tech-discuss">Subscribe</a></li>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-tech-discuss">Unsubscribe</a></li>
            <li><a href="http://lists.arin.net/pipermail/arin-tech-discuss/">View Archive</a></li>
        </ul></td>
    </tr>
    <tr class="r1">
        <th width="25%" scope="row"><a name="consult" id="consult"></a>Consultations</th>
        <td><strong>arin-consult@arin.net</strong>
            <p>Open to the general public. Used in conjunction with the ARIN Consultation and Suggestion Process (ACSP) to gather comments, this is open for comments on any active consultation or suggestion. For those who would like to submit suggestions to ARIN, please review the ACSP and submit questions using the ACSP Suggestion Form.</p></td>
        <td width="20%"><ul>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-consult">Subscribe</a></li>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-consult">Unsubscribe</a></li>
            <li><a href="http://lists.arin.net/pipermail/arin-consult/">View Archive</a></li>
        </ul></td>
    </tr>
    <tr class="r0">
        <th width="25%" scope="row"><a name="suggestions" id="suggestions"></a>Suggestions</th>
        <td><strong>arin-suggestions@arin.net</strong>
            <p>Read-only list open to the general public. Used by ARIN staff to provide notification to community of new <a href="/participate/acsp/">ACSP suggestions</a> and ARIN responses. We encourage anyone with an interest in ARIN services and operations to subscribe.</p></td>
        <td width="20%"><ul>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-suggestions">Subscribe</a></li>
            <li><a href="http://lists.arin.net/mailman/listinfo/arin-suggestions">Unsubscribe</a></li>
            <li><a href="http://lists.arin.net/pipermail/arin-suggestions/">View Archive</a></li>
        </ul></td>
    </tr>
    <tr class="r0">
        <th width="25%" scope="row"><a name="swg" id="swg"></a>Services Working Group</th>
        <td><strong>services-wg@arin.net</strong>
            <p>Read-only list open to the general public. Provided for those interested in following the discussions of the <a href="/about_us/committeecharters.html#services">Services Working Group</a>. This working group is tasked with facilitating discussion with the community and developing recommendations in a timely fashion.</p></td>
        <td width="20%"><ul>
            <li><a href="http://lists.arin.net/mailman/listinfo/services-wg">Subscribe</a></li>
            <li><a href="http://lists.arin.net/mailman/listinfo/services-wg">Unsubscribe</a></li>
            <li><a href="http://lists.arin.net/pipermail/services-wg/">View Archive</a></li>
        </ul></td>
    </tr>
</table>