Image-Replace li links

<div id="sectionbuttons" style="margin: 0 auto;">
    <ul id="badges">
        <li class="badge2"><a href="/denver" title="Register Now for ARIN on the Road: Denver" style="background: url(/assets/img/arin_denver.jpeg);">Register Now for ARIN on the Road: Denver</a></li>
        <li class="badge3"><a href="/ARIN39" title="View the ARIN 39 Meeting Report" style="background: url(/assets/img/arin_39.png);">View the ARIN 39 Meeting Report</a></li>
        <li class="badge3"><a href="/participate/meetings/fellowship.html" title="Fellowships Available for ARIN 40 in San Jose" style="background: url(/assets/img/arin_fellowship.png);">Fellowships Available for ARIN 40 in San Jose</a></li>
    </ul>
</div>
