Large Content Boxes

<div id="fee">
    <div id="fee1">
        <a href="mailto:billing@arin.net">Contact the Financial Services Help Desk</a>
    </div>
    <div id="fee2">
        <h3>What ARIN Charges Fees For</h3>
        <p>To provide for an equitable, cost-recovery process, ARIN charges an initial transaction fee for the registration or transfer of Internet Protocol (IP) addresses and Autonomous System Numbers (ASNs), and an annual fee for ongoing registration services. </p>
        <p>The <a href="/fees/fee_schedule.html">ARIN Fee Schedule</a> contains detailed information on all fees, their applicability, and any current waivers.</p>
    </div>
    <div id="fee3">
        <h3>Making Payments</h3>
        <p>ARIN offers three payment options:</p>
        <ul>
            <li><a href="/fees/payment.html#credit">Credit Card</a></li>
            <li><a href="/fees/payment.html#check">Check</a></li>
            <li><a href="/fees/payment.html#wire">Wire Transfer & ACH Payments</a></li>
        </ul>
        <p> For more information, please visit the&nbsp;<a href="/fees/payment.html">Make a Payment page</a>. Organizations must pay all outstanding fees for previously received resources before they can be approved for additional resources. </p>
    </div>
</div>
